footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    & .link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;

        margin: 10px;
        padding: 10px;

        & svg {
            width: 32px;
            height: 32px;
            margin: 10px;
            fill: inherit;
        }

        & p {
            color: inherit;
            cursor: inherit;
            font-size: 20px;
        }
    }
}